# package directories
node_modules
lib

# hardhat
artifacts
cache
deployments
typechain

#defender
.defender/
.serverless/
secrets.*.yml

# coverage directory used by tools like istanbul
coverage
coverage.json
coverageEnv


# Other
.env
*.log
.DS_Store
tsconfig.tsbuildinfo
.secrets
.vscode

# Build artifacts
**/.openzeppelin/
types/**
dist/
abi/@openzeppelin